<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>LOINC Part Search</title>
        <style>

            pre {
              display: block;
              font-family: monospace;
              white-space: pre;
              	background: #efefef;
	            border: 1px solid #777;
              margin: 2em 0;
            }

        </style>
    </head>

    <body>
        <h1>LOINC Part Search</h1>

        <p>This is a project to build LOINC hierarchies based on LOINC part codes with searching capabilities.  Hierarchies are base on the multi-axial hierarchy table. Hierarchy support multiple parents for codes. This is a demonstration project. Search not support in this version.<br>
Data is from LOINC 2.65.  The demonstration database contains only the codes below Human Leukocyte Antigen, LOINC part code: LP56928-2.  This is to stay within the Heroku 10,000 Postgres row limit for demonstration projects.<br>
The project is configured as rest-API and returns json objects.<br>
See https://loinc.org/license/ for Regenstrief license for the use and distribution of LOINC.<br>
        </p>

        <ul>

            {% for item in mylist %}

            
            {% endfor %}


        </ul>


        {{version}}<br><br>


        <h1>API Usage</h1>
        <h3>API Base URL: <a href="https://loinc-part-search-demo.herokuapp.com/">https://loinc-part-search-demo.herokuapp.com/</a></h3>

        <h2><a id="Endpoints_Summary_10"></a>Endpoints Summary</h2>
        <ul>
        <li><a href="#loinc-code">GET: /loinc/&lt;code&gt;</a>

            <ul>
            <li><a href="#loinc-parents-code">GET: /loinc/parents/&lt;code&gt;</a></li>
            <li><a href="#loinc-sibling-code">GET: /loinc/siblings/&lt;code&gt;</a></li>
            <li><a href="#loinc-cousins-code">GET: /loinc/cousins/&lt;code&gt;</a></li>
            <li><a href="#loinc-parts-code">GET: /loinc/parts/&lt;code&gt;</a>
                <ul>
                <li><a href="#loinc-parts-parents-code">GET: /loinc/parts/parents/&lt;code&gt;</a></li>
                <li><a href="#loinc-parts-descendants-code">GET: /loinc/parts/descendants/&lt;code&gt;</a></li>
                </ul>
            </li>
            </ul>

        </ul>

        <h2>Examples</h2>

        <h3><a id="loinc-code"></a>GET: /loinc/&lt;code&gt;</h3>
        <p>Returns a json object with the description of this code.  Attributes are as described in the loinc.txt table.<br>
        Example usage: https://loinc-part-search-demo.herokuapp.com/loinc/72323-9<br>
        Example result:</p>
        <pre lang="json">
        {
            defining definition: "LOINC code",
            LOINC code: "72323-9",
            preferred attribute: "Name",
            Name: "HLA-DP+DQ+DR (class II) IgG Ab [Presence] in Serum by Flow cytometry (FC)",
            Short name: "HLA-DP+DQ+DR IgG Ser Ql FC",
            Common rank: "0",
            Class type: "1",
            Status: "ACTIVE",
            Class: "HLA",
            Method type: "Flow cytometry",
            Scale type: "Ord",
            System: "Ser",
            Time aspect: "Pt",
            Property: "PrThr",
            Component: "HLA-DP+DQ+DR Ab.IgG",
            parents: [
            "LOINC part code: LP97384-9, HLA-DP+DQ+DR | Bld-Ser-Plas"
            ],
            children: [ ]
        }
        </pre>


        <h3><a id="loinc-parents-code"></a>GET: loinc/parents/&lt;code&gt;</h3>
        <p>Returns a json list of the parents of the LOINC code. The list contains one json for each parent.  Attributes are as described in the multi-axial table.<br>
        Example usage: https://loinc-part-search-demo.herokuapp.com/loinc/parents/72323-9<br>
        Example result:</p>
        <pre lang="json">
        {
            defining definition: "LOINC part code",
            LOINC part code: "LP97384-9",
            preferred attribute: "Name",
            Name: "HLA-DP+DQ+DR | Bld-Ser-Plas",
            parents: [
               "LOINC part code: LP56928-2, HLA-DP+DQ+DR"
            ],
            children: [
                "LOINC code: 72321-3, HLA-DP+DQ+DR (class II) IgG Ab [Presence] in Serum by Immunoassay",
                "LOINC code: 46995-7, HLA-DP+DQ+DR (class II) Ab in Serum",
                "LOINC code: 72323-9, HLA-DP+DQ+DR (class II) IgG Ab [Presence] in Serum by Flow cytometry (FC)"
            ]
        }
        </pre>



        <h3><a id="loinc-sibling-code"></a>GET: loinc/siblings/&lt;code&gt;</h3>
        <p>Returns a json list of the siblings of the LOINC code. Siblings are defined as all the children of the parents of the LOINC code. The list contains one json for each sibling, including the search code. In some sections of LOINC a part code can have both LOINC codes and LOINC part code as a child.<br>
        Example usage: https://loinc-part-search-demo.herokuapp.com/loinc/siblings/72323-9<br>
        Example result:</p>
        <pre lang="json">
         [
            {
                defining definition: "LOINC code",
                LOINC code: "72323-9",
                preferred attribute: "Name",
                Name: "HLA-DP+DQ+DR (class II) IgG Ab [Presence] in Serum by Flow cytometry (FC)",
                Short name: "HLA-DP+DQ+DR IgG Ser Ql FC",
                Common rank: "0",
                Class type: "1",
                Status: "ACTIVE",
                Class: "HLA",
                Method type: "Flow cytometry",
                Scale type: "Ord",
                System: "Ser",
                Time aspect: "Pt",
                Property: "PrThr",
                Component: "HLA-DP+DQ+DR Ab.IgG",
                parents: [
                "LOINC part code: LP97384-9, HLA-DP+DQ+DR | Bld-Ser-Plas"
                ],
                children: [ ]
            },
            {
                defining definition: "LOINC code",
                LOINC code: "72321-3",
                preferred attribute: "Name",
                Name: "HLA-DP+DQ+DR (class II) IgG Ab [Presence] in Serum by Immunoassay",
                Short name: "HLA-DP+DQ+DR IgG Ser Ql IA",
                Common rank: "0",
                Class type: "1",
                Status: "ACTIVE",
                Class: "HLA",
                Method type: "IA",
                Scale type: "Ord",
                System: "Ser",
                Time aspect: "Pt",
                Property: "PrThr",
                Component: "HLA-DP+DQ+DR Ab.IgG",
                parents: [
                "LOINC part code: LP97384-9, HLA-DP+DQ+DR | Bld-Ser-Plas"
                ],
                children: [ ]
            },
            {
                defining definition: "LOINC code",
                LOINC code: "46995-7",
                preferred attribute: "Name",
                Name: "HLA-DP+DQ+DR (class II) Ab in Serum",
                Short name: "HLA-DP+DQ+DR Ab NFr Ser",
                Common rank: "0",
                Class type: "1",
                Status: "ACTIVE",
                Class: "HLA",
                Method type: "",
                Scale type: "Qn",
                System: "Ser",
                Time aspect: "Pt",
                Property: "NFr",
                Component: "HLA-DP+DQ+DR Ab",
                parents: [
                "LOINC part code: LP97384-9, HLA-DP+DQ+DR | Bld-Ser-Plas"
                ],
                children: [ ]
            }
        ]
        </pre>


        <h3><a id="loinc-cousins-code"></a>GET: loinc/cousins/&lt;code&gt;</h3>
        <p>Returns a json list of the cousins of the LOINC code. Cousins are defined as all the children of the grand-parents of the LOINC code. The list contains one json for each cousin, including siblings and the search code. In some sections of LOINC a part code can have both LOINC codes and LOINC part code as a child.<br>
        Example usage: https://loinc-part-search-demo.herokuapp.com/loinc/cousins/72323-9<br>
        Example result:</p>
        <pre lang="json">
        [
            {
                defining definition: "LOINC code",
                LOINC code: "50019-9",
                preferred attribute: "Name",
                Name: "HLA-DP+DQ+DR (class II) [Type]",
                Short name: "HLA-DP+DQ+DR",
                Common rank: "0",
                Class type: "1",
                Status: "ACTIVE",
                Class: "HLA",
                Method type: "",
                Scale type: "Nom",
                System: "Bld/Tiss",
                Time aspect: "Pt",
                Property: "Type",
                Component: "HLA-DP+DQ+DR",
                parents: [
                "LOINC part code: LP187542-8, HLA-DP+DQ+DR | Blood or Tissue"
                ],
                children: [ ]
            },
            {
                defining definition: "LOINC code",
                LOINC code: "72323-9",
                preferred attribute: "Name",
                Name: "HLA-DP+DQ+DR (class II) IgG Ab [Presence] in Serum by Flow cytometry (FC)",
                Short name: "HLA-DP+DQ+DR IgG Ser Ql FC",
                Common rank: "0",
                Class type: "1",
                Status: "ACTIVE",
                Class: "HLA",
                Method type: "Flow cytometry",
                Scale type: "Ord",
                System: "Ser",
                Time aspect: "Pt",
                Property: "PrThr",
                Component: "HLA-DP+DQ+DR Ab.IgG",
                parents: [
                "LOINC part code: LP97384-9, HLA-DP+DQ+DR | Bld-Ser-Plas"
                ],
                children: [ ]
            },
            {
                defining definition: "LOINC code",
                LOINC code: "72321-3",
                preferred attribute: "Name",
                Name: "HLA-DP+DQ+DR (class II) IgG Ab [Presence] in Serum by Immunoassay",
                Short name: "HLA-DP+DQ+DR IgG Ser Ql IA",
                Common rank: "0",
                Class type: "1",
                Status: "ACTIVE",
                Class: "HLA",
                Method type: "IA",
                Scale type: "Ord",
                System: "Ser",
                Time aspect: "Pt",
                Property: "PrThr",
                Component: "HLA-DP+DQ+DR Ab.IgG",
                parents: [
                "LOINC part code: LP97384-9, HLA-DP+DQ+DR | Bld-Ser-Plas"
                ],
                children: [ ]
            },
            {
                defining definition: "LOINC code",
                LOINC code: "46995-7",
                preferred attribute: "Name",
                Name: "HLA-DP+DQ+DR (class II) Ab in Serum",
                Short name: "HLA-DP+DQ+DR Ab NFr Ser",
                Common rank: "0",
                Class type: "1",
                Status: "ACTIVE",
                Class: "HLA",
                Method type: "",
                Scale type: "Qn",
                System: "Ser",
                Time aspect: "Pt",
                Property: "NFr",
                Component: "HLA-DP+DQ+DR Ab",
                parents: [
                "LOINC part code: LP97384-9, HLA-DP+DQ+DR | Bld-Ser-Plas"
                ],
                children: [ ]
            }
          ]
          </pre>



        <h3><a id="loinc-parts-code"></a>GET: loinc/parts/&lt;code&gt;</h3>
        <p>Returns a json object with the description of this part code.  Attributes are as described in the multi-axial table.<br>
        Example usage: https://loinc-part-search-demo.herokuapp.com/loinc/parts/LP97384-9<br>
        Example result:</p>
        <pre lang="json">
        {
            defining definition: "LOINC part code",
            LOINC part code: "LP97384-9",
            preferred attribute: "Name",
            Name: "HLA-DP+DQ+DR | Bld-Ser-Plas",
            parents: [
              "LOINC part code: LP56928-2, HLA-DP+DQ+DR"
            ],
            children: [
                "LOINC code: 72321-3, HLA-DP+DQ+DR (class II) IgG Ab [Presence] in Serum by Immunoassay",
                "LOINC code: 46995-7, HLA-DP+DQ+DR (class II) Ab in Serum",
                "LOINC code: 72323-9, HLA-DP+DQ+DR (class II) IgG Ab [Presence] in Serum by Flow cytometry (FC)"
                ]
        }
        </pre>



    <h3><a id="loinc-parts-parents-code"></a>GET: loinc/parts/parents/&lt;code&gt;</h3>
    <p>Returns a json list of the parents of the LOINC part code. The list contains one json for each parent.  Attributes are as described in the multi-axial table.<br>
    Example usage: https://loinc-part-search-demo.herokuapp.com/loinc/parts/parents/LP97384-9<br>
    Example result:</p>
    <pre lang="json">
    [
        {
        defining definition: "LOINC part code",
        LOINC part code: "LP56928-2",
        preferred attribute: "Name",
        Name: "HLA-DP+DQ+DR",
        parents: [
        "LOINC part code: LP32739-2, Human Leukocyte Antigens"
        ],
        children: [
        "LOINC part code: LP187542-8, HLA-DP+DQ+DR | Blood or Tissue",
        "LOINC part code: LP97384-9, HLA-DP+DQ+DR | Bld-Ser-Plas"
        ]
        }
    ]
    </pre>


    <h3><a id="loinc-parts-descendants-code"></a>GET: loinc/parts/descendants/&lt;code&gt;</h3>
    <p>Returns a json object listing the hierarchy below the search code.  The search code is the key to list of its children.  Each child is listed with a list of its children recursively.  Codes a listed with &lt;code type&gt;: code, name, e.g. LOINC part code: LP97384-9, HLA-DP+DQ+DR | Bld-Ser-Plas.<br>
    Example usage: https://loinc-part-search-demo.herokuapp.com/loinc/parts/descendants/LP56928-2<br>
    Example result:</p>
    <pre lang="json">
    {
        LOINC part code: LP56928-2, HLA-DP+DQ+DR: [
            {
                LOINC part code: LP187542-8, HLA-DP+DQ+DR | Blood or Tissue: [
                      "LOINC code: 50019-9, HLA-DP+DQ+DR (class II) [Type]"
                ]
            },
            {
                LOINC part code: LP97384-9, HLA-DP+DQ+DR | Bld-Ser-Plas: [
                    "LOINC code: 72321-3, HLA-DP+DQ+DR (class II) IgG Ab [Presence] in Serum by Immunoassay",
                    "LOINC code: 46995-7, HLA-DP+DQ+DR (class II) Ab in Serum",
                    "LOINC code: 72323-9, HLA-DP+DQ+DR (class II) IgG Ab [Presence] in Serum by Flow cytometry (FC)"
                ]
            }
        ]
    }
    </pre>

</body></html>